<app-backtotop></app-backtotop>
<footer>
    <div class="footer-subscibe-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe-text text-center">
                        <div class="footer-logo mb-45">
                            <img src="{{logo}}" alt="images">
                        </div>
                        <p>
                          Sign up with your email address to receive my latest smart contract tutorials, blockchain insights, and breaking news in the crypto space. I’ll only send you truly valuable content – no spam, promise!
                        </p>
                        <form action="#" class="subscribe-form mt-50">
                            <input type="email" placeholder="Enter your email address">
                            <button type="submit">Get Updates</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-2 order-md-1">
                    <p class="copyright-text">copyright 2025 @emancancode</p>
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
